body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background: linear-gradient(135deg, #4e54c8, #8f94fb);

  background-size: 400% 400%;
  animation: gradientMove 10s ease infinite;

  color: white;
  text-align: center;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

button, input {
  font-family: inherit;
}
